@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --heading-2: Roboto;

  /* font sizes */
  --heading-2-size: 12px;
  --overline-size: 8px;
  --text-size: 10px;
  --heading-1-size: 16px;

  /* Colors */
  --color-darkslategray-100: #343434;
  --color-white: #fff;
  --color-gray: rgba(255, 255, 255, 0.4);
}
